<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>

<script>

// Create/prepare JSON and send to CF via AJAX for processing, inserting results to div
	var jsonData = 	{
						"model": "Contact",
						"values":
						{
							"id": 345,
							"firstName": "Dan",
							"lastName": "Kraus",
							"address": "123 Fake St",
							"city": "Saint Louis",
							"state": "MO",
							"maxRate" : 4.5,
							"maxAmount" : 450000
						}
					};

	$.post("contactLoans.cfm",
		{ json: JSON.stringify(jsonData) }
	).done(function(data) { $('#results').html('<pre>' + JSON.stringify(JSON.parse(data), null, '\t') + '</pre>'); });

</script>

<div id="results">
results go here
</div>
